<!--   <nav class="navbar navbar-light bg-light">
    <form class="form-inline">
      <input class="form-control mr-sm-2" type="search" placeholder="Enter Neighborhood (ex: Condesa, Zona Rosa, etc...)" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </nav> -->
<div class="container-fluid">

  <div id="map-container">
      <div id='map'
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
      data-markers="<%= @greenspaces.to_json %>">
      </div>


      <div id="map-cards">
        <div class="container-fluid">
          <div class="row">
            <div class="col-12">
              <%= greenspace.description %>
              <div class="card-gs">
                <img src="https://res.cloudinary.com/dt2bnlehf/image/upload/v1574455756/Green%20Space/Screen_Shot_2019-11-19_at_7.48.59_PM_utavw1.png" />
                <div class="card-gs-infos">
                  <div>
                    <h2><%= greenspace.title %></h2>
                    <p><%= greenspace.description %></p>
                  </div>
                  <h2 class="card-gs-pricing"><%= greenspace.distance %></h2>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
  </div>
</div>

<%= javascript_pack_tag 'map' %>
